@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/*martin*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;

}

.kaoc-default-font-family {
  font-family: sans-serif, Arial, Helvetica !important;
}

.kaoc-primary-color {
  color: #fff !important;
  background-color: transparent !important;
  /*background-color: rgb(142, 142, 142)!important;*/
  /*background-color: rgb(128, 8, 8)!important;*/
}

.kaoc-btn-primary {
  color: #fff !important;
  background-color: rgb(78, 11, 11) !important;
  font-size: 13px;
  font-weight: 700;
}

.kaoc-main-header {
  background: rgb(78, 11, 11) !important;
  text-align: left !important;
  font-family: Arial, Helvetica, sans-serif !important;
  color: #fff !important;
  font-size: 11px !important;
}

.kaoc-gl-mat-card {
  padding: 5px !important;
  margin-top: 5px !important;
}

.kaoc-gl-mat-card-header-text {
  margin: 0 0px !important;
}

.mat-card-header-text {
  margin: 0 0px !important;
}

/* .mat-step-icon-selected*/
/* {*/
/*  color: #fff!important;*/
/*  background-color: rgb(78, 11, 11) !important;*/
/*}*/
/* .mat-step-icon-state-edit*/
/* {*/
/*  color: #fff!important;*/
/*  background-color: #ff4081 !important;*/
/*}*/
/* kaoc-modalbox is to used within PanelClass and to remove unwanted padding. */
.kaoc-modalbox > mat-dialog-container {
  padding: 1px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.kaoc-page,
.kaoc-module {
  width: 100%;
  height: 100%;
  position: relative;
}

.kaoc-page-contents {
  width: 100%;
  position: relative;
  padding: 15px;
}

.mat-vertical-content {
  padding: 0px 0px 0px 2px !important;
}

.mat-vertical-stepper-header {
  padding: 2px !important;
}


/*martin*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;600&display=swap');*/
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  /*font-size: 62.5%;*/
  font-size: 10px;
}

.header {
  padding: 0 0;
}

/*.topactive {*/
/*  display: block;*/
/*}*/
.mat-drawer {
  height: 100vh;
}

.mat-drawer-backdrop {
  display: none;
}

.bu_close {
  background: #fff;
  border: 0;
  text-align: right;
  padding: 10px;
}

.avatar-container-side-menu button {
  border: 0;
}

.mat-menu-item {
  background: 0 0;
  color: rgba(0, 0, 0, .87);
  padding: 10px;
  border: 0px;
  border-bottom: solid 1px #505050;
  text-align: left;
}

.display-name {
  padding-top: 10px;
}

.copy-right,
.copy-right-icon {
  font-size: 12px;
}

.copy-right-icon {
  width: 12px;
  height: 12px;
}

.txtc {
  text-align: center
}

.txtl {
  text-align: left
}

.txtr {
  text-align: right
}

.mr-t-15 {
  margin-top: 15px;
}

.mr-t-20 {
  margin-top: 20px;
}

/*menu start*/
div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 30px;
  line-height: 60px;
  padding-top: 10px;
}

div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 3.5rem;

  font-weight: 600;
}

.menu {
  /*position: fixed;*/
  width: 100%;
  line-height: 12px;
  z-index: 101;

}

.logo_2 {
  display: none;
  padding-top: 10px !important;
}

.black {
  transition: background-color 0.5s ease;
  background-color: #4299ce;;
  /*box-shadow: 0px 2px 5px -3px rgba(79,79,79,1);*/

}

.black .logo_2 {
  display: block;
  margin-left: 30px;
}

.login {
  background: rgb(108, 184, 37);
  background: linear-gradient(90deg, rgba(108, 184, 37, 1) 0%, rgba(80, 151, 14, 1) 100%);
  padding: 5px 15px !important;
  border-radius: 18px;
  box-shadow: 0px 4px 5px 0px rgba(125, 125, 125, 0.75);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(125, 125, 125, 0.75);
  -moz-box-shadow: 0px 4px 5px 0px rgba(125, 125, 125, 0.75);
}

.login i {
  padding-right: 5px;
}

/*menu end*/

/*Vgnav start*/
.vg-nav {
  position: relative;
  z-index: 100;
}

.vg-nav-main-container {
  padding: 18px 0px 22px 0px;
  /*margin: 0;*/
  display: block;
  text-align: right;
  margin-right: 30px;
  /*	margin-right: 100px;*/

}

.black .vg-nav-main-container {
  padding: 18px 0px 22px 0px;
  /*margin: 0;*/
  display: block;
  text-align: right;
  margin-right: 30px;
  /*	margin-right: 100px;*/
  margin-top: 0px;
}

.vg-nav-main-container li {
  list-style: none
}

.vg-nav-main-container > li {
  display: inline-block
}

.vg-nav-main-container span.toggle {
  transition: all 0.4s ease;
  transform: rotate(0)
}

.vg-nav-main-container span.toggle span.default {
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
  width: 0;
  height: 0;
  transition: all 0.4s ease;
  transform: rotate(0);
  display: inline-block;
  margin-left: .355em;
  vertical-align: .255em
}

.vg-nav-main-container .dropdown {
  position: relative
}

.vg-nav-main-container .dropdown ul {
  padding: 0
}

.vg-nav-main-container .dropdown > ul {
  transition: all 0.4s ease;
  position: absolute;
  top: 120%;
  opacity: 0;
  visibility: hidden;
  width: 300px
}

.vg-nav-main-container .dropdown > ul .left {
  left: 0
}

.vg-nav-main-container .dropdown > ul .right {
  right: 0
}

.vg-nav-main-container .dropdown > ul ul {
  transition: all 0.4s ease;
  position: absolute;
  top: 20%;
  opacity: 0;
  visibility: hidden;
  width: 200px
}

.vg-nav-main-container .dropdown > ul .dropdown ul.left {
  left: 100%
}

.vg-nav-main-container .dropdown > ul .dropdown ul.right {
  right: 100%
}

.vg-nav-main-container .dropdown > ul .dropdown.show > ul {
  visibility: visible;
  opacity: 1;
  top: 0
}

.vg-nav-main-container .dropdown.show > ul {
  visibility: visible;
  opacity: 1;
  /*top: 100%;*/
  top: 0;
}

.vg-nav-main-container .dropdown.show > a span.toggle .default {
  transform: rotate(-180deg)
}

.vg-nav-main-container .dropdown-mega .dropdown-mega-container {
  transition: all 0.4s ease;
  position: absolute;
  top: 120%;
  opacity: 0;
  visibility: hidden;
  left: 0;
  width: 100%;
  min-height: 300px
}

.vg-nav-main-container .dropdown-mega.show > a span.toggle {
  transform: rotate(-180deg)
}

.vg-nav-main-container .dropdown-mega.show > .dropdown-mega-container {
  visibility: visible;
  opacity: 1;
  top: 100%
}

.vg-nav-main-container.vg-nav-cloned > li {
  display: block
}

.vg-nav-main-container.vg-nav-cloned .dropdown ul {
  position: relative;
  width: 100%;
  height: 0
}

.vg-nav-main-container.vg-nav-cloned .dropdown ul .left, .vg-nav-main-container.vg-nav-cloned .dropdown ul .right {
  left: 0 !important
}

.vg-nav-main-container.vg-nav-cloned .dropdown.show > ul {
  height: initial
}

.vg-nav-main-container.vg-nav-cloned .dropdown-mega .dropdown-mega-container {
  position: relative;
  height: 0;
  min-height: 0;
  top: 0;
  display: none
}

.vg-nav-main-container.vg-nav-cloned .dropdown-mega.show .dropdown-mega-container {
  display: block;
  height: auto;
  top: 0
}

.vg-nav-hover > ul .dropdown:hover > a span.toggle {
  transform: rotate(-180deg)
}

.vg-nav-hover > ul .dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 100%
}

.vg-nav-hover > ul .dropdown:hover .dropdown:hover > ul {
  visibility: visible;
  opacity: 1;
  top: 0
}

.vg-nav-hover > ul .dropdown-mega:hover .dropdown-mega-container {
  visibility: visible;
  opacity: 1;
  top: 100%
}

.vg-nav-hover > ul .dropdown-mega:hover > a span.toggle {
  transform: rotate(-180deg)
}

.vg-nav-hamburger {
  display: none;
  width: 35px;
  height: 35px;
  position: relative
}

.vg-nav-hamburger span {
  cursor: pointer;
  border-radius: 2px;
  height: 3px;
  width: 35px;
  background: #fff;
  position: absolute;
  display: block;
  transition: all 0.4s ease;
  transform: rotate(0);
  opacity: 1
}

.vg-nav-sidebar__content > ul > li > a, .vg-nav-collapse > ul > li > a {
  border-bottom: solid 0px #fff !important;
}

.vg-nav-hamburger span:first-child {
  top: 3px
}

.vg-nav-hamburger span:nth-child(2) {
  top: 13px
}

.vg-nav-hamburger span:last-child {
  top: 23px
}

.vg-nav-hamburger.show span:first-child {
  top: 13px;
  opacity: 0
}

.vg-nav-hamburger.show span:nth-child(2) {
  transform: rotate(45deg)
}

.vg-nav-hamburger.show span:last-child {
  transform: rotate(-45deg);
  top: 13px
}

.vg-nav-collapse {
  display: block;
  position: relative;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease
}

.vg-nav-collapse.show {
  height: 100%;
  opacity: 1;
  visibility: visible
}

.vg-nav-sidebar {
  display: block;
  position: fixed;
  top: 0;
  opacity: 0;
  height: 100%;
  z-index: 9990;
  transition: all 0.4s ease;
  background: #4299ce
}

.vg-nav li a {
  text-align: center;
}

.vg-nav li a i {
  line-height: 30px;
}

#toTop {
  display: block;
  position: fixed;
  bottom: 0px;
  right: 0px;
  font-size: 48px;
}

#toTop {
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  opacity: 0.5;
  display: none;
  cursor: pointer;
}

#toTop:hover {
  opacity: 1;
}

.footermain {
  background: #f7f7f7;
  border-top: solid 2px #d2d3e8;
  padding: 10px 50px;
  overflow: hidden;
}

.footertxt {
  color: #1d228a;
  font-size: 14px;
  line-height: 100px;
}

.footertxt i {
  padding-right: 5px;
}

.footertxt span {
  padding-right: 5px;
  padding-left: 10px;
}

.footertxt a {
  color: #1d228a;
}

.footertxt a:hover {
  color: #6cb825;
}

.footertxt2 a {
  color: #1d228a;
  padding: 0px 10px;
  text-transform: uppercase;
  font-size: 13px !important;
}

.footertxt2 a:hover {
  color: #6cb825;
  padding: 0px 10px;
  text-transform: uppercase;
}

.footer2 {
  background: #bfdea3;
  padding: 15px 20px 15px 60px !important;
  color: #1d228a;
  font-size: 12px;
  height: auto;
  overflow: hidden;
  text-align: left;
}

.socialmedia {
  float: right;
  padding-right: 50px;
}

.socialmedia a {
  padding: 0px 10px;
}

.socialmedia a i {
  font-size: 20px;
}

@media only screen and (min-width: 1200px) {
  .vg-nav-sidebar.left {
    left: -25%;
    width: 25%
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .vg-nav-sidebar.left {
    left: -33%;
    width: 33%
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .vg-nav-sidebar.left {
    left: -50%;
    width: 50%
  }
}

@media only screen and (max-width: 767.98px) {
  .vg-nav-sidebar.left {
    left: -75%;
    width: 75%
  }
}

@media only screen and (max-width: 479.98px) {
  .vg-nav-sidebar.left {
    left: -100%;
    width: 100%
  }
}

@media only screen and (min-width: 1200px) {
  .vg-nav-sidebar.right {
    right: -25%;
    width: 25%
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
  .vg-nav-sidebar.right {
    right: -33%;
    width: 33%
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
  .vg-nav-sidebar.right {
    right: -50%;
    width: 50%
  }
}

@media only screen and (max-width: 767.98px) {
  .vg-nav-sidebar.right {
    right: -75%;
    width: 75%
  }
}

@media only screen and (max-width: 479.98px) {
  .fo_links {
    padding-top: 20px !important;
  }

  .socialmedia li {
    float: left;
    padding: 20px 5px;
    border-bottom: solid 0px #89789c;
  }

  .socialmedia li a {
    border-bottom: solid 0px #89789c;
  }

  .vg-nav-sidebar.right {
    right: -100%;
    width: 100%
  }

  .black .vg-nav-main-container {
    padding: 18px 0px 22px 0px;
    /*margin: 0;*/
    display: none;
    text-align: left;
    margin-right: 30px;
    /*	margin-right: 100px;*/
    margin-top: 0px;
  }

  .footersocial {
    text-align: center;
    padding-top: 25px;
  }
}

.vg-nav-sidebar.show.left {
  left: 0 !important;
  opacity: 1
}

.vg-nav-sidebar.show.right {
  right: 0 !important;
  opacity: 1
}

.vg-nav-sidebar__close {
  position: absolute;
  font-size: 56px;
  font-weight: 300;
  top: 0;
  right: 50px;
  color: #fff;
  cursor: pointer
}

.vg-nav-sidebar__content {
  margin-top: 50px;
  height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden
}

.vg-nav-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0;
  transition: all 0.4s ease;
  top: 0;
  background: rgba(51, 51, 51, 0.7);
  transition-delay: .15s;
  z-index: 9989
}

.vg-nav-overlay.right {
  left: -100%
}

.vg-nav-overlay.right.show {
  left: 0;
  opacity: 1
}

.vg-nav-overlay.left {
  right: -100%
}

.vg-nav-overlay.left.show {
  right: 0;
  opacity: 1
}

@media only screen and (min-width: 1200px), only screen and (min-width: 992px) and (max-width: 1199.98px), only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (max-width: 767.98px), only screen and (max-width: 479.98px) {
  .vg-nav-xl .vg-nav-hamburger {
    display: block
  }

  .vg-nav-xl > ul {
    display: none
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px), only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (max-width: 767.98px), only screen and (max-width: 479.98px) {
  .vg-nav-lg .vg-nav-hamburger {
    display: block;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 20px;
  }

  .vg-nav-lg > ul {
    display: none
  }

  .vg-nav {
    width: 90%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px), only screen and (max-width: 767.98px), only screen and (max-width: 479.98px) {
  .vg-nav-md .vg-nav-hamburger {
    display: block
  }

  .vg-nav-md > ul {
    display: none
  }

  /*.ndisprovider {float: none!important; padding-top: 8px; text-align: center; border-bottom: solid 1px #eee;*/
  /*  padding-bottom: 8px;}*/
  .carousel-control {
    display: none;
  }
}

@media only screen and (max-width: 767.98px), only screen and (max-width: 479.98px) {
  .vg-nav-sm .vg-nav-hamburger {
    display: block
  }

  .vg-nav-sm > ul {
    display: none
  }
}

@media only screen and (max-width: 479.98px) {

  .carousel {
    margin-top: 90px;
  }

  /*.topsection {*/
  /*  display: none;*/
  /*}*/
  .vg-nav-lg .vg-nav-hamburger {
    margin-right: 0px !important;
  }

  div.logo {
    padding-left: 1rem;
  }

  div.logo img {
    width: 80%;
    height: auto;
  }

  .footer2 {
    background: #bfdea3;
    padding: 30px 20px 40px 20px !important;
    color: #7ca965;
    font-size: 12px;
    height: auto;
    overflow: hidden;
    text-align: center;
  }

  .footertxt {
    color: #1d228a;
    font-size: 14px;
    line-height: 20px;
  }

  .copyright {
    padding-top: 20px;
    color: #fff;
  }

  .vg-nav-xs .vg-nav-hamburger {
    display: block;

  }

  .vg-nav-xs > ul {
    display: none
  }

  .vg-nav-main-container {
    text-align: left;
  }

  .menu {
    background-color: #4299ce;
    padding-bottom: 10px;
    border-bottom: solid 1px #4299ce;
  }

  div.logo {
    float: left;
    width: 250px;
  }

  .vg-nav-main-container {
    padding: 18px 0px 22px 0px;
    /*margin: 0;*/
    display: block;
    text-align: left;
    margin-right: 30px;
    /*	margin-right: 100px;*/
    margin-top: 0px;
  }

  .logo_2 {
    display: block;
    margin-left: 30px;
  }

  .blck .logo_2 {
    display: none;
  }

  .footer2 {
    background: #bfdea3;
    background-size: contain;
    padding: 30px 20px 0px 20px !important;
    color: #7ca965;
    font-size: 12px;
    overflow: hidden;
    margin-top: 0px;
    height: auto;
  }

  .socialmedia {
    float: left;
    text-align: center;
    width: 100%;
    padding-top: 15px;
  }
}

/*Vgnav end*/
/*Vgnavtheme start*/


a {
  transition: all .3s ease
}

/*.vg-nav>ul>li {*/
/*  padding: 20px 15px;*/

/*}*/
/*.vg-nav>ul>li>a {*/
/*  font-size: 14px;*/
/*  line-height: 1.2;*/
/*  display: block;*/
/*  color: #fff;*/
/*  text-decoration: none;*/
/*  font-family: 'Poppins', sans-serif;*/
/*  text-transform: uppercase;*/

/*  font-weight: normal;*/
/*}*/
/*.black li a {*/
/*  font-size: 14px;*/

/*  color:#fff !important;*/
/*  text-decoration: none;*/
/*  font-family: 'Poppins', sans-serif;*/
/*  text-transform: normal;*/

/*  font-weight: normal;*/
/*}*/
/*.vg-nav>ul>li.active a, .vg-nav>ul>li a:hover {*/
/*  color: #c8ff08;*/
/*  content: '\0025ce';*/
/*  display: inline-block;*/
/*  position: relative;*/
/*  border-bottom: solid 2px #c8ff08;*/

/*}*/
/*.vg-nav .dropdown ul {*/
/*  background: rgba(255,255,255,0.9);*/
/*  box-shadow: 0 4px 7px rgba(0,0,0,0.15);*/
/*  text-align: left;*/
/*}*/
/*.vg-nav .dropdown ul li a {*/
/*  text-decoration: none;*/
/*  font-size: 14px;*/
/*  display: block;*/
/*  padding: 15px;*/
/*  color: #1e344f;*/
/*  border: 1px solid rgba(0,0,0,0.1);*/
/*  border-top: none;*/
/*  line-height: 20px;*/
/*}*/
/*.vg-nav .dropdown ul li:first-child a {*/
/*  border: 1px solid rgba(0,0,0,0.1)*/
/*}*/
/*.vg-nav .dropdown ul ul {*/
/*  background: rgba(255,255,255,0.9)*/
/*}*/
/*.vg-nav .dropdown-mega .dropdown-mega-container {*/
/*  background: rgba(255,255,255,0.9);*/
/*  border: 1px solid rgba(0,0,0,0.1);*/
/*  box-shadow: 0 4px 7px rgba(0,0,0,0.15);*/
/*  padding: 15px*/
/*}*/
/*.vg-nav-hamburger {*/
/*  margin: 0*/
/*}*/
/*.vg-nav-sidebar .vg-nav-sidebar__content {*/
/*  width: 100%;*/
/*  padding: 0 20px 20px 20px*/
/*}*/
/*.vg-nav-collapse ul {*/
/*  width: 100%;*/
/*  padding: 20px 0*/
/*}*/
/*.vg-nav-sidebar__content>ul>li>a, .vg-nav-collapse>ul>li>a {*/
/*  display: block;*/
/*  padding: 10px 0;*/
/*  border-bottom: 1px solid #f2f2f2;*/
/*  text-decoration: none;*/
/*  color: #fff;*/
/*  text-transform: uppercase;*/

/*  font-size: 13px;*/
/*}*/

/*.vg-nav-sidebar__content>ul ul, .vg-nav-collapse>ul ul {*/
/*  background: rgba(0,0,0,0.02)*/
/*}*/
/*.vg-nav-sidebar__content>ul ul li>a, .vg-nav-collapse>ul ul li>a {*/
/*  display: block;*/
/*  padding: 10px;*/
/*  border-bottom: 1px solid #f5f5f5;*/
/*  text-decoration: none;*/
/*  color: #333333;*/
/*  text-transform: normal;*/
/*  font-weight: 400;*/
/*  font-size: 13px;*/
/*}*/
/*.vg-nav-sidebar__content .dropdown-mega-container, .vg-nav-collapse .dropdown-mega-container {*/
/*  background: rgba(0,0,0,0.02);*/
/*  border-bottom: 1px solid #f5f5f5;*/
/*  padding: 15px*/
/*}*/
/*.topadd {color: #000; font-size: 13px; margin-top: -3px; padding: 0px 8px;}*/
/*.topadd .glyphicon{color: #693c95!important; }*/
div.logo img {
  width: 95% !important;
}

/*Vgnavtheme end*/

@media only screen and (max-width: 320.98px) {
  div.logo {
    float: left;
    width: 220px;
  }
}


@media only screen and (min-width: 250px) and (max-width: 450.98px) {
  div.logo {
    float: left;
    width: 220px;
  }
}

.foot_logo img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 250px) and (max-width: 450.98px) {
  .image-pad {
    padding-top: 20px;
  }
}

.red {
  color: #B90004
}
@charset "utf-8";
/* CSS Document */


.content_main {
  min-height: 600px;
  padding-top: 150px;
  width: 90%;
  margin: 0px auto;
}
.contentheading h4 {
  color: #4299ce;
  text-transform: uppercase;

  line-height: 30px;
  width: 60%;
  float: left;
}
.membersearch {
  width: 40%;

}
.contentheading  {
  border-bottom: solid 1px #4299ce;
  padding-bottom: 8px;
}
.membersearch .form-control {
  border-radius: 20px 0px 0px 20px!important;
  padding: 20px;
  background: #ebebeb;
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075)!important;
}
.membersearch .search {
  border-radius: 0px 20px 20px 0px!important;
  padding: 10px;
  background: #ebebeb;
}
.memberlist {
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  padding: 15px;
  margin:20px 0px 10px 0px;
  border-radius: 5px;
}
.memberlist:hover {
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,1);
  padding: 15px;
  margin:20px 0px 10px 0px;
  border-radius: 5px;

}
.memberlist span {
  font-size: 13px;
}
.memberlist table {
  font-size: 14px;
  font-weight: normal;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #cbdbe4!important;
}
.table-responsive {
  padding-bottom: 10px;
}
.table-bordered td{
  border: 1px solid #75bde9!important;
}
.table-bordered > thead > tr > th {
  border: 1px solid #75bde9!important;
}
.pagination {
  margin: 0px!important;
  font-size: 12px;
}
.clickable {
  cursor:auto;
}
.profile_txt {
  background: #0072d9;
  border-radius: 100px;
  color: #fff;
  text-transform: uppercase;
  display: block;

  font-size: 22px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 3px;
  float: left;
}

.members h4 {
  font-size: 15px;
  padding-left: 10px;
  display: block;
  margin-left: 40px;
  line-height: 1.5;
  min-height: 50px;
}
.members p {
  font-size: 13px;
}
.members a {
  color: #333;
}
.members a:hover {
  text-decoration: none;
}
/*.members a {
	background: #fff;

	padding:5px 20px;
	border-radius: 50px;
	border:solid 1px #0072d9;
	font-size: 13px;
	margin-top: 5px!important;
	display: inline-block;

}
.members a:hover {
	background: #0072d9;

	padding:5px 20px;
	border-radius: 50px;
	border:solid 1px #0072d9;
	font-size: 13px;
	margin-top: 5px!important;
	display: inline-block;
	color: #fff;
	text-decoration: none;

}*/
/*----------step-wizard------------*/
.d-flex{
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}

/*---------signup-step-------------*/
.bg-color{
  background-color: #333;
}
.signup-step-container{
  padding: 40px 0px;
  padding-bottom: 60px;
}




.wizard .nav-tabs {
  position: relative;
  margin-bottom: 0;
  border-bottom-color: transparent;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 70%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}
.wizard {

  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  padding:35px 25px;
  margin:0px 0px;
}
.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 16px;
  color: #0e214b;
  font-weight: 500;
  border: 1px solid #ddd;
}
span.round-tab i{
  color:#555555;
}
.wizard li.active span.round-tab {
  background: #4299ce;
  color: #fff;
  border-color: #4299ce;
}
.wizard li.active span.round-tab i{
  color: #5bc0de;
}
.wizard .nav-tabs > li.active > a i{
  color: #4299ce;
}

.wizard .nav-tabs > li {
  width: 33.333%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0px;
  border: 5px solid transparent;
  border-bottom-color: red;
  transition: 0.1s ease-in-out;
}



.wizard .nav-tabs > li a {
  width: 30px;
  height: 30px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
  background-color: transparent;
  position: relative;
  top: 0;
}
.wizard .nav-tabs > li a i{
  position: absolute;
  top: -15px;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: 700;
  color: #000;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 0px;
}


.wizard h4 {
  margin-top: 20;
  margin-bottom: 30px;
  color: #4299ce;
}
.wizard label {
  font-size: 13px!important;
  font-weight: normal!important;
}
.prev-step,
.next-step{
  font-size: 13px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
}
.next-step{
  background-color: #4299ce;
  color: #fff;
}
.skip-btn{
  background-color: #cec12d;
}
.step-head{
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}
.term-check{
  font-size: 14px;
  font-weight: 400;
}
.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-bottom: 0;
}
.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 40px;
  margin: 0;
  opacity: 0;
}
.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 40px;
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 2;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 38px;
  padding: .375rem .75rem;
  line-height: 2;
  color: #495057;
  content: "Browse";
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 .25rem .25rem 0;
}
.footer-link{
  margin-top: 30px;
}
.all-info-container{

}
.list-content{
  margin-bottom: 10px;
}
.list-content a{
  padding: 10px 15px;
  width: 100%;
  display: inline-block;
  background-color: #f5f5f5;
  position: relative;
  color: #565656;
  font-weight: 400;
  border-radius: 4px;
}
.list-content a[aria-expanded="true"] i{
  transform: rotate(180deg);
}
.list-content a i{
  text-align: right;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: 0.5s;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #fdfdfd;
}
.list-box{
  padding: 10px;
}
.signup-logo-header .logo_area{
  width: 200px;
}
.signup-logo-header .nav > li{
  padding: 0;
}
.signup-logo-header .header-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*-----------custom-checkbox-----------*/
/*----------Custom-Checkbox---------*/
input[type="checkbox"]{
  position: relative;
  display: inline-block;
  margin-right: 5px;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
  position: absolute;
  content: "";
  display: inline-block;
}
input[type="checkbox"]::before{
  height: 16px;
  width: 16px;
  border: 1px solid #999;
  left: 0px;
  top: 0px;
  background-color: #fff;
  border-radius: 2px;
}
input[type="checkbox"]::after{
  height: 5px;
  width: 9px;
  left: 4px;
  top: 4px;
}
input[type="checkbox"]:checked::after{
  content: "";
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
}
input[type="checkbox"]:checked::before{
  background-color: #18ba60;
  border-color: #18ba60;
}



.contentheading h2 {
  color: #4299ce;
  text-transform: uppercase;

  line-height: 30px;

}
.contentheading span {
  font-size: 13px;
}
.inner_content {
  font-size: 14px;
  padding-top: 20px;
  line-height: 22px;
  font-weight: 500;
}
.inner_content span {
  color: #4299ce;
  font-weight: 700;
}
.contentbox {
  background: #fff;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
  padding: 25px;
  margin:20px 0px 10px 0px;
  border-radius: 0px;

}

@media (max-width: 767px){
  .content_main {
    min-height: 600px;
    padding-top: 100px;
    width: 90%;
    margin: 0px auto;
  }
  .sign-content h3{
    font-size: 40px;
  }
  .wizard .nav-tabs > li a i{
    display: none;
  }
  .signup-logo-header .navbar-toggle{
    margin: 0;
    margin-top: 8px;
  }
  .signup-logo-header .logo_area{
    margin-top: 0;
  }
  .signup-logo-header .header-flex{
    display: block;
  }
}

@media screen and (max-width:768px) {



  .memberlist table td {
    display: block;
  }
  .mview {
    display:inline-block!important;
  }
  .table-bordered td {
    border-top: 0px solid #75bde9 !important;
    border-bottom: 0px solid #75bde9 !important;
    border-right: 0px solid #75bde9 !important;
  }
  .table-bordered {
    border-right: 1px solid #75bde9 !important;
    border-bottom: 1px solid #75bde9 !important;
  }
  .mview2 {
    display:revert!important;
    padding-top: 40px!important;
    border-left:1px solid #000 !important
  }
}
