<Div> Let's determine what needs to go on the landing page. <hr/>
<mat-card class="example-card kaoc-gl-mat-card">
    <mat-card-header>
        <mat-card-title>Upcoming Events</mat-card-title>
    </mat-card-header>
    <mat-card-content>
         Music Night
    </mat-card-content>
</mat-card>
</Div> <br>

<Div>
    <mat-card class="example-card  kaoc-gl-mat-card">
        <mat-card-header>
            <mat-card-title>മധുരം മലയാളം</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            മലയാളികളെ ഒന്നിപ്പിക്കുന്ന പൊതു സംസ്കാരത്തിൽ ഏറ്റവും പ്രധാനം മലയാളം എന്ന ഭാഷയാണ്. 
            ജീവിത രീതിയിലും അഭിരുചികളിലും കലകളിലും എല്ലാം കാണുന്ന ഏകത്വങ്ങളും നാനാത്വങ്ങളും 
            മലയാള ഭാഷയുടെ ഒറ്റ ചരടിൽ കോർത്ത് കെട്ടിയാൽ മലയാളിയുടെ സംസ്കാരമായി. 
            ഭാഷയിലൂടെയുള്ള ഈ ഒരുമായാണ് KAOCയുടെ “മധുരം മലയാളം” പരിപാടിയുടെ മുഖ്യ പ്രചോദനവും ലക്ഷ്യവും.
        </mat-card-content>
    </mat-card>
    </Div>