<div class="header head">
  <div class="menu">
    <div class="clearfix"></div>
    <div style="width: 100%;" class="headr">
      <mat-sidenav-container fxFlexFill>
        <!--Main Contents -->
        <mat-sidenav-content fxFlexFill style="overflow: hidden">
          <div fxLayout="column" fxFlexFill>
            <mat-toolbar
              class="kaoc-primary-color"
              fxLayoutAlign="space-between center"
              fxLayout="row"
              fxLayoutGap="20px">
              <mat-toolbar-row>
                <button mat-icon-button (click)="sidenav.toggle()">
                  <mat-icon>menu</mat-icon>
                </button>
                <a mat-button routerLink="/">
                  <div class="logo">
                    <a href="#"><img src="/assets/images/logo.png" alt="" routerLink="/"/></a>
                  </div>
                </a>
                <div class="navigation">
                  <nav class="vg-nav vg-nav-lg vg-nav-hover black">
                    <ul class="vg-nav-main-container">
                      <li class="active hidden-xs"><a routerLink="/">
                        <i class=""><img src="/assets/images/ico_home.png" width="21" height="20" alt=""/></i><br>
                        Home </a></li>
                      <li class="hidden-xs"><a routerLink="/kaochistory">
                        <i class=""><img src="/assets/images/ico_about.png" width="21" height="20" alt=""/></i><br>
                        About Us</a></li>
                    </ul>
                  </nav>
                </div>
                <span class="example-spacer"></span>
              </mat-toolbar-row>
            </mat-toolbar>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</div>
<!--Side NavBar-->
<mat-sidenav #sidenav class="nav-sidebar_menu">
  <div fxLayout="column">

    <div class="avatar-container-side-menu" fxLayout="column" fxFlexAlign="center center"
         style="align-items: center">
      <div class="txtr" style="width:100%;">
        <button class="bu_close" (click)="sidenav.close()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <ngx-auth-firebaseui-avatar
        *ngIf="loggedIn"
        [links]="">

        <!--                (onMenuOpen)="sidenav.toggle()-->
      </ngx-auth-firebaseui-avatar>
      <div
        *ngIf="loggedIn"
        class="display-name">
        {{fullName}}
      </div>
      <div *ngIf="!loggedIn">
        <button
          mat-icon-button
          (click)="sidenav.toggle() && navigateToLoginPage()">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>
    <button mat-menu-item routerLink="/" (click)="sidenav.close()">
      <mat-icon>home</mat-icon>
      Home
    </button>
    <mat-divider></mat-divider>

    <button *ngIf="loggedIn===true" mat-menu-item routerLink="/secured/profile" (click)="sidenav.close()">
      <mat-icon>account_circle</mat-icon>
      Profile
    </button>
    <button *ngIf="loggedIn===true" mat-menu-item routerLink="/secured/eventtickets" (click)="sidenav.close()">
      <mat-icon>event</mat-icon> Events & Tickets
    </button>
    <mat-divider></mat-divider>
    <!--<h4 *ngIf="isAdmin===true" class="section-label">Admin</h4>-->
    <button *ngIf="isAdmin===true" mat-menu-item routerLink="/secured/admin/memberprofile"
            (click)="sidenav.close()">
      <mat-icon>add_circle_outline</mat-icon>
      Add Member
    </button>
    <button *ngIf="isAdmin===true" mat-menu-item routerLink="/secured/admin/listmembers"
            (click)="sidenav.close()">
      <mat-icon>search</mat-icon>
      View/Edit Member
    </button>
    <button *ngIf="isAdmin===true" mat-menu-item routerLink="/secured/admin/manageevents"
      (click)="sidenav.close()">
      <mat-icon>date_range</mat-icon> Manage Events
    </button>
    <button *ngIf="isAdmin===true" mat-menu-item routerLink="/secured/admin/functions"
      (click)="sidenav.close()">
      <mat-icon>admin_panel_settings</mat-icon> Admin
    </button>
    <button *ngIf="isAdmin===true" mat-menu-item routerLink="/secured/admin/scanner"
            (click)="sidenav.close()">
      <mat-icon>visibility</mat-icon>
      QR Scan
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="/kaochistory" (click)="sidenav.close()">
      <i class=""><img class="mr-r-13" src="/assets/images/ico_about_black.png" width="24" height="24" style="margin-right:16px" alt=""/></i>
      About Us
    </button>
    <button mat-menu-item routerLink="/kaocbylaw" (click)="sidenav.close()">
      <mat-icon>policy</mat-icon>
      Bylaws
    </button> 
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>   
    <a href="/assets/docs/Calendar.htm"><button>
      Sports Calendar
    </button></a>
  </div>
</mat-sidenav>

