.example-form {
  min-width: 320px;
  max-width: 100%;
  width: 100%;
}

.form-full-width {
  width: 100%;
}

.mat-radio-button {
  padding-left: 2px;
  margin: 5px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
 
 
.mat-card{
  min-width: 320px;
  max-width: 100%;
  width: 100%;
}

table {
  width: 100%;
}