.example-form {
  min-width: 95%;
  max-width: 100%;
  width: 100%;
}

.form-full-width {
  min-width: 95%;
  max-width: 100%;
 
}
 
.mat-card{
  min-width: 100% !important;
  max-width: 100% !important;
  width: 100% !important;
  padding:0px !important;
}
 
.invisible{
  visibility: hidden;
  height: 0;
  width: 0;
}