<!--<form [formGroup]="memberForm">
  <input placeholder="Membership Type" formControlName="membershipType">
  <div formArrayName="members"
    *ngFor="let member of memberForm.get('members').controls; let i = index;">
    <ng-container [formGroupName]="i">
      <input formControlName="emailId" placeholder="Email Id">
      <input formControlName="firstName" placeholder="First name">
      <input formControlName="lastName" placeholder="Last name">
      <input formControlName="phoneNumber" placeholder="phoneNumber">
    </ng-container>
    <button (click)="addMember()">Add</button>
    EmailId {{ memberForm.controls.members.controls[i].controls.emailId.value }}
   
  </div>

  <button (click)="doSubmit()">Save</button>
  </form> -->

<mat-card>
  <mat-card-header class="kaoc-main-header">
    <mat-card-title>Add member</mat-card-title>
  </mat-card-header> <br>
  <mat-card-content>

    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="memberForm">
        <form [formGroup]="memberForm">
          <ng-template matStepLabel>Member Details</ng-template>
          <div formArrayName="members" *ngFor="let member of memberForm.get('members').controls; let i = index;">
            <ng-container [formGroupName]="i">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email Id" formControlName="emailId" required>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="First name" formControlName="firstName" required>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Last name" formControlName="lastName" required>
              </mat-form-field>

              <table class="example-full-width">
                <tr>
                  <td>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Mobile number" formControlName="phoneNumber" required>
                    </mat-form-field>
                  </td>

                </tr>
              </table>

              <div>
                <button mat-raised-button matStepperNext class="kaoc-btn-primary">Next</button>
              </div>
            </ng-container>
          </div>

        </form>
      </mat-step>

      <!--<mat-step [stepControl]="paymentForm">
     
        </mat-step>-->

    </mat-horizontal-stepper>



  </mat-card-content>
</mat-card>