<div fxLayout="column wrap" fxLayoutAlign="space-evenly center">

  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Transaction in progress...</p>
  </ngx-spinner>

  <div fxLayout="column wrap" fxLayoutAlign="space-evenly center"> Add member
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="memberForm">
        <form [formGroup]="membershipTypeForm">
          <mat-card-content>
            <mat-card>
              <table>
                <tr>
                  <td>
                    <label>Membership Type</label><br>
                    <mat-radio-group formControlName="membershipType" [(ngModel)]="membershipType" required>
                      <mat-radio-button value="INDIVIDUAL" (click)="setPaymentAmount('INDIVIDUAL')">Individual
                      </mat-radio-button>
                      <mat-radio-button value="FAMILY" (click)="setPaymentAmount('FAMILY')">Family</mat-radio-button>
                      <mat-radio-button value="SRCITIZEN" (click)="setPaymentAmount('SRCITIZEN')"> Sr.Citizen
                      </mat-radio-button>
                    </mat-radio-group>
                  </td>
                </tr>
                <tr>
                  <td>Membership amount : ${{membershipAmt}}
                  </td>
                </tr>
              </table> <br>
            </mat-card>
          </mat-card-content>
        </form>
        <form [formGroup]="memberForm">
          <ng-template matStepLabel>Member Details</ng-template>
          <mat-card>
            <mat-card-content>
              <mat-form-field class="form-full-width">
                <input matInput placeholder="Email Id" formControlName="emailId" required>
              </mat-form-field>

              <mat-form-field class="form-full-width">
                <input matInput placeholder="First name" formControlName="firstName" required>
              </mat-form-field>

              <mat-form-field class="form-full-width">
                <input matInput placeholder="Last name" formControlName="lastName" required>
              </mat-form-field>

              <mat-form-field class="form-full-width">
                <input matInput placeholder="Mobile number" formControlName="phoneNumber" required>
              </mat-form-field>

              <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5px">
                <button mat-raised-button class="kaoc-btn-primary" matStepperNext (click)="addMember(0)">Next</button>
                <button mat-raised-button class="kaoc-btn-primary" matStepperNext (click)="addMember(0)">Skip Family &
                  Pay</button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
      </mat-step>
      <mat-step [stepControl]="memberDetForm" optional>
        <form [formGroup]="memberDetForm">
          <ng-template matStepLabel>Family Details </ng-template> <br />
          <mat-card fxLayout="row wrap">
            <mat-card-header>
              <mat-card-title>
                Add Family Member(s)
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>

              <mat-form-field class="form-full-width">
                <input matInput placeholder="Email Id" formControlName="emailId">
              </mat-form-field>

              <table class="form-full-width">
                <tr>
                  <td>
                    <mat-form-field class="form-full-width">
                      <input matInput placeholder="First name" formControlName="firstName" required>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field class="form-full-width">
                      <input matInput placeholder="Last name" formControlName="lastName" required>
                    </mat-form-field>
                  </td>
                </tr>
              </table>

              <table class="form-full-width">
                <tr>
                  <td>
                    <mat-form-field class="form-full-width">
                      <input matInput placeholder="Mobile number" formControlName="phoneNumber">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <mat-select formControlName="adultFlag" placeholder="Age group" required>
                        <mat-option value="adult" selected>Adult</mat-option>
                        <mat-option value="child">Child</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>

              </table>
              <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                <button mat-raised-button color="primary" (click)="addFamily('Add')">
                  <mat-icon matTooltip="Add Member">group_add</mat-icon> Add
                </button>
                <button mat-raised-button class="kaoc-btn-primary" matStepperNext
                  (click)="addFamily('CreateMemberNPay')">
                  <mat-icon matTooltip="Pay KAOC">payment</mat-icon>Pay
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>
        <br />

        <mat-card class="kaoc-gl-mat-card">
          <mat-card-header class="kaoc-gl-mat-card-header-text">
            <mat-card-title>List of members</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
              <div></div>
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let index = index"> {{index +1}} </td>
              </ng-container>
              <ng-container matColumnDef="emailId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Id</th>
                <td mat-cell *matCellDef="let element">{{element.emailId}}</td>
              </ng-container>

              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
                <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
              </ng-container>

              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
                <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
              </ng-container>

              <ng-container matColumnDef="phoneNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
                <td mat-cell *matCellDef="let element">{{element.phoneNumber}}</td>
              </ng-container>

              <ng-container matColumnDef="adultFlag">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Age Group</th>
                <td mat-cell *matCellDef="let element">{{element.adultFlag}}</td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>Action</th>
                <td mat-cell *matCellDef="let element ; let index = index">
                  <div>
                    <mat-icon (click)="openEditDialog(element)" matTooltip="Edit Member">edit</mat-icon>
                    <mat-icon (click)="deleteMember(index)" matTooltip="Delete member">delete</mat-icon>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>

            </table>
          </mat-card-content>
        </mat-card>
      </mat-step>
      <mat-step [stepControl]="paymentForm">
        <form [formGroup]="paymentForm">
          <ng-template matStepLabel>Payment</ng-template> <br />
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                Payment Details
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div fxLayout="row wrap" fxLayoutGap="5px">
                <mat-form-field class="form-full-width">
                  <mat-label>Payment method</mat-label>
                  <mat-select formControlName="paymentMethod" required>
                    <mat-option *ngFor="let paymode of paymentList" [value]="paymode">{{paymode}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="form-full-width">
                  <input matInput placeholder="Amount" formControlName="paymentAmount" readonly="true">
                </mat-form-field>
              </div>
              <div fxLayout="row wrap">
                <mat-form-field class="form-full-width">
                  <input matInput placeholder="Transaction Reference No" formControlName="paymentExternalSystemRef">
                </mat-form-field>
              </div>
              <div fxLayout="row wrap">
                <mat-form-field class="form-full-width">
                  <textarea matInput placeholder="Memo" formControlName="paymentNotes" rows="3"></textarea>
                </mat-form-field>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="5px">
                <button mat-raised-button class="kaoc-btn-primary" (click)="submitPayment()">
                  <mat-icon matTooltip="Pay KAOC">payment</mat-icon> Submit Payment
                </button>
              </div>
            </mat-card-content>
          </mat-card>
        </form>

      </mat-step>
    </mat-horizontal-stepper>
  </div>
