<div>
    <mat-toolbar class="kaoc-primary-color" fxLayoutAlign="space-between center" fxLayout="row" fxLayoutGap="20px">
        <mat-toolbar-row>
          <div fxShow="true" fxHide.gt-sm>
              <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
              </button>
          </div>
          <a mat-button routerLink="/">
              <img src="../../../assets/images/kaoc-avatar-icon.png" class="img" />
              &nbsp;
              <span fxHide="true" fxShow.gt-sm>Kerala Association of Colorado</span>
              <span fxShow="true" fxHide.gt-sm>K.A.O.C</span>
            </a>
          <span class="example-spacer"></span>

          <div fxShow="true" fxHide.lt-md="true">

            <button mat-button *ngIf="isAdmin===true" [matMenuTriggerFor]="membershipMenu">Admin
              <mat-icon aria-hidden="false">arrow_drop_down</mat-icon>
            </button>

            <mat-menu #membershipMenu="matMenu">
                <button mat-menu-item routerLink="secured/admin/memberprofile">Add Member</button>
                <button mat-menu-item routerLink="secured/admin/listmembers">View/Edit Member</button>
            </mat-menu>

            <ngx-auth-firebaseui-avatar> </ngx-auth-firebaseui-avatar>
            <button mat-icon-button *ngIf="!loggedIn" (click)="navigateToLoginPage()">
              <mat-icon>account_circle</mat-icon>
              <!--<i class="fa fa-sign-in" aria-hidden="true"></i>-->
            </button>


          </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav>
        <div fxLayout="column">

          <div class="avatar-container-side-menu">
              <ngx-auth-firebaseui-avatar> </ngx-auth-firebaseui-avatar>
          </div>

          <button mat-icon-button *ngIf="!loggedIn" (click)="navigateToLoginPage()">
              <mat-icon>account_circle</mat-icon>
          </button>

          <button mat-button *ngIf="isAdmin===true" [matMenuTriggerFor]="membershipMenu">Admin
              <mat-icon aria-hidden="false">arrow_drop_down</mat-icon>
          </button>

          <mat-menu #membershipMenu="matMenu">
              <button mat-menu-item routerLink="secured/admin/memberprofile" (click)="sidenav.close()">Add Member</button>
              <button mat-menu-item routerLink="secured/admin/listmembers" (click)="sidenav.close()">View/Edit Member</button>
          </mat-menu>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
