<div>
  <mat-toolbar class="kaoc-primary-color" fxLayoutAlign="space-between center" fxLayout="row" fxLayoutGap="20px">
    <mat-toolbar-row>
      <div fxShow="true" fxHide.gt-sm>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>


      <a mat-button routerLink="/">
        <img src="../../../assets/images/kaoc-avatar-icon.png" class="img" />
        <span>&nbsp;Kerala Association of Colorado</span>
      </a>
      <span class="example-spacer"></span>

      <div fxShow="true" fxHide.lt-md="true">
        <!--<button mat-button [matMenuTriggerFor]="aboutMenu">About
        <mat-icon aria-hidden="false">arrow_drop_down</mat-icon>
      </button>
      <mat-menu #aboutMenu="matMenu">
        <button mat-menu-item routerLink="kaochistory">KAOC History</button>
        <button mat-menu-item routerLink="kaocbyelaw">ByLaws</button>
        <button mat-menu-item>Current Committee</button>
        <button mat-menu-item>Past Committees</button>
        <button mat-menu-item>Online Magazine</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="activitiesMenu">Activities
        <mat-icon aria-hidden="false">arrow_drop_down</mat-icon> </button>
      <mat-menu #activitiesMenu="matMenu">
        <button mat-menu-item>Calendar</button>
        <button mat-menu-item>Music Night</button>
        <button mat-menu-item>Yuva</button>
        <button mat-menu-item routerLink="madhuram-malayalam">Madhuram Malayalam</button>
        <button mat-menu-item>Indian Dance Festival</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="galleryMenu">Gallery</button>
      <mat-menu #galleryMenu="matMenu">
        <button mat-menu-item>Photos</button>
        <button mat-menu-item>Videos</button>
      </mat-menu>-->

        <button mat-button *ngIf="isAdmin===true" [matMenuTriggerFor]="adminMenu">Admin
          <mat-icon aria-hidden="false">arrow_drop_down</mat-icon>
        </button>

        <mat-menu #adminMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="membershipMenu">Membership</button>
        </mat-menu>

        <mat-menu #membershipMenu="matMenu">
          <button mat-menu-item routerLink="memberprofile">Add Member</button>
          <button mat-menu-item routerLink="listmembers">View/Edit Member</button>
        </mat-menu>

      <!--<button mat-button>Sponsors</button>
      <button mat-button>Links</button>
      <button mat-button>Contact us</button>-->

        <ngx-auth-firebaseui-avatar> </ngx-auth-firebaseui-avatar>
          <button mat-icon-button *ngIf="!loggedIn" (click)="navigateToLoginPage()">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </button> 
        

      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav  >
      <div fxLayout="column">
        <!--<button mat-button [matMenuTriggerFor]="aboutSN">About <i class="fa fa-caret-down" aria-hidden="true"></i>
      </button>
      <mat-menu #aboutSN="matMenu">
        <button mat-menu-item routerLink="kaochistory">KAOC History</button>
        <button mat-menu-item routerLink="kaocbyelaw">ByLaws</button>
        <button mat-menu-item>Current Committee</button>
        <button mat-menu-item>Past Committees</button>
        <button mat-menu-item>Online Magazine</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="activitiesSN">Activities<i class="fa fa-caret-down"
          aria-hidden="true"></i></button>
      <mat-menu #activitiesSN="matMenu">
        <button mat-menu-item>Calendar</button>
        <button mat-menu-item>Music Night</button>
        <button mat-menu-item>Yuva</button>
        <button mat-menu-item>Madhuram Malayalam</button>
        <button mat-menu-item>Indian Dance Festival</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="gallerySN">Gallery</button>
      <mat-menu #gallerySN="matMenu">
        <button mat-menu-item>Photos</button>
        <button mat-menu-item>Videos</button>
      </mat-menu>-->
        <!--
  <button mat-button *ngIf="isAdmin===true" [matMenuTriggerFor]="adminMenu" routerLink="admin">Admin
-->
        <button mat-button *ngIf="isAdmin===true" [matMenuTriggerFor]="adminMenu">Admin
          <mat-icon aria-hidden="false">arrow_drop_down</mat-icon>
        </button>
        <!-- <button mat-button>Sponsors</button>
      <button mat-button>Links</button>
      <button mat-button>Contact us</button>-->

        <mat-menu #adminMenu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="membershipMenu">Membership</button>
        </mat-menu>

        <mat-menu #membershipMenu="matMenu">
          <button mat-menu-item routerLink="memberprofile" (click)="sidenav.close()">Add Member</button>
          <button mat-menu-item routerLink="listmembers" (click)="sidenav.close()">View/Edit Member</button>
        </mat-menu>

        
          <button mat-icon-button *ngIf="!loggedIn" (click)="navigateToLoginPage()">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
          </button>
        

      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>