 
<mat-card>
    <mat-card-header class="kaoc-main-header">
        <mat-card-title>Payment details</mat-card-title>
    </mat-card-header> <br>
    <mat-card-content>
        <div fxLayout="column" fxLayoutAlign="space-evenly start">
            <form [formGroup]="paymentForm">

                <mat-form-field class="form-full-width">
                    <mat-label>Payment method</mat-label>
                    <mat-select formControlName="paymode">
                        <mat-option *ngFor="let paymode of paymentList" [value]="paymode">{{paymode}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-full-width">
                    <input matInput placeholder="Amount" formControlName="amount">
                </mat-form-field>

                <mat-form-field class="form-full-width">
                    <input matInput placeholder="Transaction Reference No" formControlName="referenceNo">
                </mat-form-field>

                <mat-form-field class="form-full-width">
                    <textarea matInput placeholder="Memo" formControlName="memo"></textarea>
                </mat-form-field>
                <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="5px">
                <button mat-raised-button class="kaoc-btn-primary" (click)="submitPayment(paymentDocumentRefNo)" >
                    <mat-icon matTooltip="Pay KAOC">payment</mat-icon> Submit Payment
                </button>
            </div>
            </form>
        </div>
    </mat-card-content>
</mat-card>