<div class="page-title">
  <div>
    <h2>Events & Tickets</h2>
  </div>
</div>
<div class="card">
  <div class="profile">

      <h4>Upcoming Events</h4>

      <div *ngIf="!eventsLoaded">Loading..</div>
      <div *ngIf="eventsLoaded && (upcomingEvents == null || upcomingEvents.length == 0)">No Upcoming Events.</div>

      <mat-card class="example-card" *ngFor="let event of upcomingEvents">
        <mat-card-title-group>
          <mat-card-title>{{event.name}}</mat-card-title>
          <mat-card-subtitle>
              <a *ngIf="event.mapsLink" [href]="event.mapsLink" target="_blank">
                  {{event.location}}
              </a>
              <span *ngIf="!event.mapsLink">{{event.location}}</span>
              <div>{{event.startTime|date:"short"}}</div>
          </mat-card-subtitle>
          <img mat-card-md-image [src]="event.eventThumbnailUrl" [alt]="event.name" *ngIf="!eventMemberCheckInQRCodeMap[event.kaocEventId]">
          <img mat-card-md-image [src]="eventMemberCheckInQRCodeMap[event.kaocEventId]" [alt]="EventCheckIn" *ngIf="eventMemberCheckInQRCodeMap[event.kaocEventId]">
        </mat-card-title-group>
        <mat-card-content>
          {{event.description}}
          <br>
          <div *ngIf="hasValidMembership && event.membershipAccessIncluded" >
              <span class="membership-state-active">*Included with Membership&nbsp;</span>
              <span *ngIf="eventMemberCheckInQRCodeMap[event.kaocEventId]">Present the QR Code above to check-in at the event</span>
          </div>
          <div *ngIf="!hasValidMembership && membershipDetailsLoaded" class="membership-state-inactive">
            Purchase Membership or Event Tickets for access
          </div>
        </mat-card-content>
      </mat-card>
      <br>

      <h4>Past Events</h4>
      <div *ngIf="!pastEventsLoaded">Loading..</div>
      <div *ngIf="pastEventsLoaded && (pastEvents == null || pastEvents.length == 0)">No Past Events.</div>

      <div *ngFor="let event of pastEvents">
        <mat-card class="example-card">
          <mat-card-title-group>
            <mat-card-title>{{event.name}}</mat-card-title>
            <mat-card-subtitle>
                <a *ngIf="event.mapsLink" [href]="event.mapsLink" target="_blank">
                    {{event.location}}
                </a>
                <span *ngIf="!event.mapsLink">{{event.location}}</span>
                <div>{{event.startTime|date:"short"}}</div>
            </mat-card-subtitle>
            <img mat-card-md-image [src]="event.eventThumbnailUrl" [alt]="event.name">
          </mat-card-title-group>
          <mat-card-content>
            {{event.description}}
          </mat-card-content>

          <mat-card-footer *ngIf="event.eventPhotos">
            <a mat-button [href]="event.eventPhotos" target="_blank">Event Photos</a>
          </mat-card-footer>

        </mat-card>
        <br>
      </div>
  </div>
</div>
