<div class="page-title">
    <div>
      <h2>Event Check-In</h2>
    </div>
  </div>
<div class="card">
    <div class="profile">
        <div *ngIf="profileState == 'loading'">
          Loading User Profile...
        </div>

        <div *ngIf="profileState == 'kaocUserNotFound'">
            Failed to locate user
        </div>

        <div *ngIf="profileState == 'kaocUserFound'" class="profile-details">
            <div class="name">{{kaocUser.firstName}} {{kaocUser.lastName}}</div>
            <div class="email">{{kaocUser.emailId}}</div>
            <div class="phone">{{kaocUser.phoneNumber}}</div>
            <div class="active-membership" *ngIf="!membershipDetailsLoaded">
                Loading Membership Details...
            </div>

            <div class="active-membership" *ngIf="membership && membership.membership">
                <div>
                    <span>Membership Status: </span>
                    <span class="membership-state-active" *ngIf="membership.membership.paymentStatus == 'Paid'">Active</span>
                    <span class="membership-state-inactive" *ngIf="membership.membership.paymentStatus != 'Paid'">InActive</span>
                </div>
                <div *ngIf="membership.membership.paymentStatus != 'Paid'">
                    <span>Payment Status: </span>
                    <span class="payment-state-incomplete" >{{membership.membership.paymentStatus}}</span>
                </div>

                <div>
                    <span>Membership Type: </span>
                    <span class="membership-type">
                        {{membership?.membership?.membershipType}}
                    </span>
                </div>
            </div>

            <div class="inactive-membership" *ngIf="membership && membership.pastMembership">
                <div>
                    <span>Membership Status: </span>
                    <span class="membership-state-inactive">InActive</span>
                </div>
                <div>
                    <span>Membership Type: </span>
                    <span class="membership-type">
                        {{membership?.pastMembership?.membershipType}}
                    </span>
                </div>
            </div>

            <div class="inactive-membership" *ngIf="!membership && membershipDetailsLoaded">
                <div>
                    <span>Membership Status: </span>
                    <span class="membership-state-inactive">No Membership</span>
                </div>
            </div>

            <div class="family-details" *ngIf="membership && membership.members && membership.members.length >= 2">
                <div>
                    <span>Family Members</span>
                </div>
                <div class="check-in-time">
                    <ul *ngFor="let familyMember of  membership.members">
                        <li *ngIf="familyMember.kaocUserId != kaocUserId">{{familyMember.firstName}} {{familyMember.lastName}}</li>
                    </ul>
                </div>
            </div>

            <div *ngIf="memberEventCheckIns && memberEventCheckIns.length > 0">
              <h4>Prior Check-Ins for {{kaocEvent.name}}.</h4>
              <ul *ngFor="let event of memberEventCheckIns">
                  <li>{{event.userType}} at {{event.checkInTime|date:'short'}}</li>
              </ul>
            </div>

            <div class="checkin-info" *ngIf="membership && membership.membership">
                <div class="event-title">{{kaocEvent.name}} Check-In</div>
                <div id="checkInForm" *ngIf="!isCheckInSuccess && !checkInAPIProgress">
                    <div>
                        <div class="checkin-info-item">
                            <div>Adults</div>
                            <mat-slider thumbLabel min="0" max="10" step="1" [value]="checkInNumAdults" (input)="updateAdultCheckIn($event)"></mat-slider>
                            <span class="check-in-count">{{checkInNumAdults}}</span>
                        </div>
                        <div class="checkin-info-item">
                            <div>Kids</div>
                            <mat-slider thumbLabel min="0" max="10" step="1" [value]="checkInNumKids" (input)="updateKidCheckIn($event)"></mat-slider>
                            <span class="check-in-count">{{checkInNumKids}}</span>
                        </div>
                    </div>
                    <br/>
                    <div class="checkin-info-item">
                        <button (click)="performUserEventCheckIn()" class="app-button" [disabled]="!validCheckIn">Check In</button>
                    </div>
                </div>
                <div *ngIf="checkInAPIProgress">
                    Checking in the memeber...
                </div>
                <div *ngIf="isCheckInSuccess">
                    Successfully checked In.
                </div>
                <div *ngIf="isCheckInFailure">
                    Failed to Check-In User. Please retry.
                </div>
            </div>
        </div>
    </div>
</div>
