<!--The content below is only a placeholder and can be replaced.
<router-outlet></router-outlet> -->
 <!--<div flFlexFill >
    <header></header>
    <router-outlet></router-outlet>
   <div>
        <br>
         <mat-grid-list cols="4">
            <mat-grid-tile>
                <mat-grid-tile-header>Upcoming Events</mat-grid-tile-header>
                Indian Dance Festival
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                 <router-outlet></router-outlet>
            </mat-grid-tile>
            <mat-grid-tile><mat-grid-tile-header>Past Events</mat-grid-tile-header>
                Music Night  </mat-grid-tile>
        </mat-grid-list>

    </div>
</div>-->

<div style="height: 100%;width:100%;display:flex; flex-direction: column;" >
  <header style="flex: 1;" ></header>
</div>

