<mat-card>
    <mat-card-header>
        <mat-card-title>CORPORATION BY-LAWS</mat-card-title>
    </mat-card-header>
    <mat-content>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Article I
                    </mat-panel-title>
                    <mat-panel-description>
                        NAME
                    </mat-panel-description>
                </mat-expansion-panel-header>
                The name of the organization shall be "KERALA ASSOCIATION OF COLORADO" (KAOC) hereinafter referred to as
                KAOC
                or the Association.
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Article II
                    </mat-panel-title>
                    <mat-panel-description>
                        LOCATION AND ADDRESS
                    </mat-panel-description>
                </mat-expansion-panel-header>
                The location of the organization will be decided from time to time by the Executive Committee until a
                permanent place for office is established. Based on the agreement by the executive committee of the
                Association at the time of the writing of these by-laws of the Association, it has been decided that it
                will be the address of the residence of the current President of the Association.
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Article III
                    </mat-panel-title>
                    <mat-panel-description>
                        AIMS AND OBJECTIVES
                    </mat-panel-description>
                </mat-expansion-panel-header>
                The Association shall be conducted as a non-profit, secular and cultural organization and shall:<br>
                1) Maintain and promote the cultural and educational heritage of India in general, Kerala in
                particular.<br>
                2) Serve as a forum of friendship and exchange of ideas and information for the Malayalees in
                Colorado.<br>
                3) Sponsor meetings and artistic events with distinguished visitors from India, and Kerala in
                particular.<br>
                4) Celebrate festivals that are dear to the Keralites.
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Article IV
                    </mat-panel-title>
                    <mat-panel-description>
                        DEFINITION OF TERMS HEREINAFTER USED
                    </mat-panel-description>
                </mat-expansion-panel-header>
                1) Fiscal year for the Association shall be from January 1st to December 31st.<br>
                2) Family will include an individual and his/her spouse, and only their dependent children and dependent
                parents living in the same household.<br>
                3) Committee means the executive committee.<br>
                4) General Body means all the members above the age of 18 who have paid membership dues and granted
                voting rights by the Association.<br>
                5) Association is the Kerala Association of Colorado also referred to as KAOC.
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Article V
                    </mat-panel-title>
                    <mat-panel-description>
                        MEMBERSHIP
                    </mat-panel-description>
                </mat-expansion-panel-header>
                1) The membership in the Association will be open to everyone interested in promoting the aims and the
                objectives of KAOC as defined in Article III above and evidenced by payment of membership fees and to
                those members who abide by the internal regulations of the association.
                <br>2) In the event of an election being announced to elect office bearers to the Executive Committee,
                no new memberships will be accepted from the date of such announcement to the end of that fiscal year.
                <br>3) Membership Period: The membership is valid from the date of payment of membership fees to the end
                of the running fiscal year.
                <br>4) Family Membership: Applicable for a family limited to the adult member of the household, his or
                her spouse and dependent children and parents. The voting rights will be limited to two adult members.
                <br>5) Individual Membership: Applicable for single individual above the age of eighteen. The individual
                member will be entitled to one vote.
                <br>6) Membership Fees: The executive committee may review/revise the fee structure as needed only at
                the beginning of the fiscal year. For the current year’s membership prices, please check the membership
                section on the website.
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Article VI
                    </mat-panel-title>
                    <mat-panel-description>
                        MEMBERS'S RIGHT
                    </mat-panel-description>
                </mat-expansion-panel-header>
                The members shall have the following rights:
                <br>
                <br>1) Attend general body meeting, discuss and vote on items included in the agenda.
                <br>2) Benefit from the facilities provided by the association for its members.
                <br>3) Obtain the associations communications.
                <br>4) Have access to view the records, documents and correspondence of the association at the times
                determined by the executive committee in the presence person(s) responsible.
            </mat-expansion-panel>
        </mat-accordion>
    </mat-content>
</mat-card>