<div class="page-title">
  <div>
    <h2>Member(s)</h2>
  </div>
</div>
<div class="card">
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Processing Request</p>
  </ngx-spinner>
  <div style="padding: 0 25px;">
    <div class="member-list_heading">
      <button class="sortBtn" (click)="sort()">FirstName
        <span *ngIf="isAsc" class="material-icons">arrow_upward</span>
        <span *ngIf="!isAsc" class="material-icons">arrow_downward</span>
      </button>
      <form>
        <div class="input-group membersearch">
          <div class="input-group-btn ">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
        </div>
      </form>
  </div>
  <div class="member-list_heading">
    <label for="reportYear">Year</label>
    <span>&nbsp;</span>
      <select id="reportYear" required [(ngModel)]="membershipReportYear">
        <option *ngFor="let year of membershipReportYears" [value]="year" selected>
          {{year}}
        </option>
      </select>
    <span>&nbsp;</span>
    <button (click)="downloadMembershipReport()">Download Membership Report</button>
  </div>
  <div class="member-list">
    <div class=" col-md-3 col-xs-12 members" *ngFor="let m of pageOfItems">
      <a [routerLink]="['/secured/admin/memberprofile', m.docId]">
        <div class="memberlist">
          <div class="profile_txt">{{m.firstName.toString().substr(0, 1).toUpperCase()}}</div>
          <h4>{{m.firstName}} {{m.lastName}} </h4>
          <p>{{m.emailId != null ? m.emailId : "."}}</p>
          <p>{{m.phoneNumber != null ? m.phoneNumber : "N/A"}} </p>
          <span>Edit</span>
        </div>
      </a>
    </div>
  </div>
  <jw-pagination [items]="members" (changePage)="onChangePage($event)" style="margin: 35px;display: flex;justify-content: center;"></jw-pagination>
</div>
