 table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

.email-col,
.name-col,
.phone-col
{
  padding-left: 10px;
  padding-right: 10px;
}
.name-col {
  font-weight: bold;
}

.email-col {
  color: burlywood;
  min-width: 200px;
  max-width: 220px;
  text-align: left;
}

.phone-col {
  color: #999;
  min-width: 110px;
  max-width: 110px;
  width: 110px;
  text-align: left;
}

 .btnn{
   background-color: #4299ce;
   color: white;
 }
.sortBtn{
  border: 1px solid #CCC;
  border-radius: 25px;
  height: 30px;
  margin-top: 15px;

  & > span {
    font-size: 14px;
  }
}
 .sortBtn:hover,.sortBtn:focus {
   z-index: 2;
   color: #ffffff;
   background-color: #337ab7;
   border-color: #CCC;
 }


 .member-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &_heading {
    display: flex;
    justify-content: space-between;
  }
 }