<div class="historydiv">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>About KAOC</mat-card-title>
            <mat-card-subtitle>KAOC is a registered non-profit organization</mat-card-subtitle>
        </mat-card-header>
        <mat-content>
            <p>Kerala Association of Colorado <strong>(KAOC)</strong> is a community driven cultural organization for
                Malayalees (‘Malayalam’ speaking people or the people from the South Indian state of Kerala) in
                Colorado, serving for more than 35 years. It acts
                as a bedrock for all types of arts and cultural activities for Keralites in Colorado.</p>
            <p><strong>KAOC</strong> provides a forum for it’s members to meet and exchange views and to also foster a
                spirit
                of friendship, goodwill and understanding. The primary and distinguishing purpose of a cultural
                organization like KAOC is to
                bind the community together by promoting and preserving it’s identity, traditions, and values. By
                providing public
                programs through which cultural heritage can be shared, <strong>KAOC</strong> strives to build bridges
                between
                various cultural groups and the larger Indian Community.</p>
            <p><strong>KAOC</strong> is committed to serving the community, through it’s annual Indian Dance Festival,
                Onam and
                Christmas Celebrations.It has been striving to keep the Malayalee culture alive, through cultural as
                well as community activities.</p>
        </mat-content>
    </mat-card>
    <br/>
</div>