  
  .example-header-image {
    background-image: url('../../../../assets/images/Kaoc_Logo.gif');
    background-size: cover;
  }

  .historydiv {
    text-align: left!important;
    margin-left: 100px;
    margin-right: 100px;
  }


  @media  (max-width: 768px) {

    .example-card {
      max-width: 400px!important;
      text-align: left!important;
    }

    .historydiv {
      text-align: left!important;
      margin-left: 5px !important;
      margin-right: 5px!important;
    } 
  }