<div class="kaoc-page">
    <div fxLayout="column" fxLayoutAlign="center center" class="kaoc-page-contents">

        <div class="user-welcome">
            Hi, {{firebaseUser.displayName}}
        </div>

        <!--TODO - Placeholder -->
        <div *ngIf="profileState == 'loading'">
            Locating User Profile... - Spinner??
        </div>

        <!--TODO - Placeholder -->
        <div *ngIf="profileState == 'kaocUserNotFound'">
            We could not locate a user profile with your email.
            Click Here to create a new profile <button (click)="createNewProfile()"> Create</button>
            If your profile is associated with a different email, click the botton below to link it
            <button> Link Existing Account</button>
            Show Email Form and submit using linkWithOtherEmail(email)
        </div>

        <!--TODO - Placeholder -->
        <div *ngIf="profileState == 'kaocUserFound'">
            Show KOAC User Name & Email here.
        </div>

        <div *ngIf="profileState == 'kaocUserLinkEmailSent'">
            If the email you entered is associated with an existing profile, you will
            recieve an email in that address. Please follow the link in that email to link your details.
        </div>

        <!-- TODO - Hide this once the above logic is complete-->
        <mat-card class="user-profile" fxFlex="1 0 auto">
          <mat-card-header>
              Profile
          </mat-card-header>
          <mat-card-content>
              <div class="name">{{firebaseUser.displayName}}</div>
              <div class="email">{{firebaseUser.email}}</div>
              <div class="phone">{{firebaseUser.phoneNumber}}</div>
          </mat-card-content>
        </mat-card>
    </div>
</div>
