<div class="card">
    <div class="profile">

        <div class="profile-greeting">
            <ngx-auth-firebaseui-avatar [links]=""></ngx-auth-firebaseui-avatar>
            Hi, {{firebaseUser.displayName}}
        </div>

        <!--TODO - Placeholder -->
        <div *ngIf="profileState == 'loading'">
            Locating User Profile... - Spinner??
        </div>

        <!--TODO - Placeholder -->
        <div *ngIf="profileState == 'kaocUserNotFound'">
            We could not locate a user profile with your email.<br><br>
            <button (click)="createNewProfile()" class="app-button">Click Here</button>&nbsp;&nbsp;&nbsp;to create a new profile<br><br>
            If your profile is associated with a different email, please enter that email address and click the link profile button to
            associate the current login.<br><br>
            <div class="form-group">
              <label>Email Associated with KAOC Membership*</label>
              <input class="form-control" #emailIdInput type="text" (keyup)="setEmailIdToLink(emailIdInput.value)" matInput placeholder="a@gmail.com"/>
            </div>
            <br/>
            <button class="app-button profile-edit__bttn" mat-button-raised color="primary" (click)="linkWithOtherEmail(emailIdToLink)">Link Profile
            </button>
            <br>
            <br>
        </div>

        <!--TODO - Placeholder -->
        <div *ngIf="profileState == 'kaocUserFound'" class="profile-details">
            <div class="name">{{kaocUser.firstName}} {{kaocUser.lastName}}</div>
            <div class="email">{{kaocUser.emailId}}</div>
            <div class="phone">{{kaocUser.phoneNumber}}</div>
            <div class="active-membership" *ngIf="!membershipDetailsLoaded">
                Loading Membership Details...
            </div>

            <div class="active-membership" *ngIf="membership && membership.membership">
                <div>
                    <span>Membership Status: </span>
                    <span class="membership-state-active" *ngIf="membership.membership.paymentStatus == 'Paid'">Active</span>
                    <span class="membership-state-inactive" *ngIf="membership.membership.paymentStatus != 'Paid'">InActive</span>
                </div>
                <div *ngIf="membership.membership.paymentStatus != 'Paid'">
                    <span>Payment Status: </span>
                    <span class="payment-state-incomplete" >{{membership.membership.paymentStatus}}</span>
                </div>

                <div>
                    <span>Membership Type: </span>
                    <span class="membership-type">
                        {{membership?.membership?.membershipType}}
                    </span>
                </div>
            </div>

            <div class="inactive-membership" *ngIf="membership && membership.pastMembership">
                <div>
                    <span>Membership Status: </span>
                    <span class="membership-state-inactive">InActive</span>
                </div>
                <div>
                    <span>Membership Type: </span>
                    <span class="membership-type">
                        {{membership?.pastMembership?.membershipType}}
                    </span>
                </div>
            </div>

            <div class="inactive-membership" *ngIf="!membership && membershipDetailsLoaded">
                <div>
                    <span>Membership Status: </span>
                    <span class="membership-state-inactive">No Membership</span>
                </div>
            </div>
            <button (click)="editUserProfile()" class="app-button profile-edit__bttn">
                Edit
            </button>
        </div>

        <div *ngIf="profileState == 'kaocUserLinkEmailSent'">
            If the email you entered is associated with an existing profile, you will
            recieve an email in that address. Please follow the link in that email to link your details.
        </div>

        <div *ngIf="profileState !== 'kaocUserFound'">
            <mat-card class="user-profile" fxFlex="1 0 auto">
                <mat-card-header>
                    <h3>Login Profile</h3>
                </mat-card-header>
                <mat-card-content>
                    <div class="name">{{firebaseUser.displayName}}</div>
                    <div class="email">{{firebaseUser.email}}</div>
                    <div class="phone">{{firebaseUser.phoneNumber}}</div>
                </mat-card-content>
            </mat-card>
        </div>
        <!--
        <app-paypal kaocPaymentsDocId="yH4luiXF1Nt6bVWSi9nL" paymentAmount="1.1" paymentDescription="TestingPaypal"></app-paypal>
        -->
    </div>
</div>
