<!--<mat-card>
  <mat-card-header class="kaoc-main-header">
    <mat-card-title>Add member</mat-card-title>
  </mat-card-header> <br>
  <mat-card-content>
    <form class="example-form" [formGroup]="memberInfo" (ngSubmit)="addMember()">

      <mat-form-field class="example-full-width" >
        <input matInput placeholder="Email Id" formControlName="emailId" required>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input matInput placeholder="First name" formControlName="firstName" required>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Last name" formControlName="lastName" required>
      </mat-form-field>

     

      <table>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mobile number" formControlName="mobileNo" required>
            </mat-form-field>
          </td>
          <td>
            <label>Membership Type</label> &nbsp;
            <mat-radio-group >
              <mat-radio-button value="I">Individual</mat-radio-button>
              <mat-radio-button value="F">Family</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
      </table>
     
      

      <div>
        <button mat-raised-button class="kaoc-btn-primary kaoc-default-font-family">Add</button>
      </div>
    </form>

  </mat-card-content>
</mat-card>
-->
<mat-card>
  <mat-card-header class="kaoc-main-header">
    <mat-card-title>Add member</mat-card-title>
  </mat-card-header> <br>
  <mat-card-content>

    <mat-horizontal-stepper [linear]="isLinear" #stepper >
      <mat-step [stepControl]="memberForm" >
        <form [formGroup]="memberForm" >
          <ng-template matStepLabel >Member Details</ng-template>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email Id" email  formControlName="emailId" required>
             
          </mat-form-field>
    
          <mat-form-field class="example-full-width">
            <input matInput placeholder="First name" formControlName="firstName" required>
          </mat-form-field>
    
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Last name" formControlName="lastName" required>
          </mat-form-field>
    
          <table class="example-full-width">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Mobile number" formControlName="mobileNo" required>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Membership id" formControlName="memberId" >
                </mat-form-field>
              </td>
            </tr>
          </table>
          
          <div>
            <button mat-raised-button matStepperNext class="kaoc-btn-primary">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="paymentForm">
        <form [formGroup]="paymentForm">
          <ng-template matStepLabel>Payment details</ng-template> <br>
          <table>
            <tr>
              <td>
                <label>Membership Type</label> 
                <mat-radio-group formControlName="membershipType" required>
                  <mat-radio-button value="I">Individual</mat-radio-button>
                  <mat-radio-button value="F">Family</mat-radio-button>
                </mat-radio-group>
              </td>
                </tr>
          </table> <br>
          <mat-form-field class="example-full-width">
            <mat-label>Payment mode</mat-label>
            <mat-select formControlName="paymode" multiple>
              <mat-option *ngFor="let paymode of paymentList" [value]="paymode">{{paymode}}</mat-option>
            </mat-select>
          </mat-form-field>
 
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Transaction Reference No" formControlName="referenceNo" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Memo" formControlName="memo" ></textarea> 
          </mat-form-field>
          <table class="example-full-width">
            <tr><td>
            <button mat-raised-button matStepperPrevious color="accent">Back</button>&nbsp;
            <button mat-raised-button class="kaoc-btn-primary" (click)="saveMemberInfo()" >Save</button>
          </td></tr>
          </table>
        </form>

        <div *ngIf="saved"> 
          <h1>Following details are validated and ready to save</h1><hr/>
          Member Info : {{  memberdet }}<hr/>
          Payment Info : {{paymentdet }}<hr/>

        </div>
      </mat-step>
      
    </mat-horizontal-stepper>
 
    

  </mat-card-content>
</mat-card>