<mat-card class=" mat-elevation-z8">
    <mat-card-header >
        <mat-card-title>Confirm Delete</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <p><b>Delete {{data.firstName}}, {{data.lastName}} ?</b></p><br/>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="warn"  [mat-dialog-close]="'OK'" >Delete</button>
        <button mat-raised-button color="primary" (click)="onNoClick()" cdkFocusInitial> Cancel</button>
    </mat-card-actions>
</mat-card>