/*.example-form {*/
/*  min-width: 95%;*/
/*  max-width: 95%;*/
/*  width: 95%;*/
/*}*/

.form-full-width {
  min-width: 95%;
  max-width: 100%;

}

/*.mat-card{*/
/*  min-width: 100% !important;*/
/*  max-width: 100% !important;*/
/*  width: 100% !important;*/
/*  padding:0px !important;*/
/*}*/

.invisible{
  visibility: hidden;
  height: 0;
  width: 0;
}



@media  (max-width: 768px) {
  .mat-card{
    min-width: 100% !important;
    max-width: 100% !important;
    width: 100% !important;
    padding:0px !important;
    max-height: 450px !important;
    overflow-y: auto !important;
  }

}


.name {
  font-weight: bold;
}

.email {
  color: burlywood;
  min-width: 200px;
}

.phone {
  color: #999;
  min-width: 110px;
}
/* New Links */
@charset "utf-8";
/* CSS Document */


.content_main {
  min-height: 600px;
  padding-top: 150px;
  width: 90%;
  margin: 0 auto;
}

.contentheading h4 {
  color: #4299ce;
  text-transform: uppercase;

  line-height: 30px;
  width: 60%;
  float: left;
}

.membersearch {
  width: 40%;

}

.contentheading {
  border-bottom: solid 1px #4299ce;
  padding-bottom: 8px;
}

.membersearch .form-control {
  border-radius: 20px 0 0 20px !important;
  padding: 20px;
  background: #ebebeb;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, .075) !important;
}

.membersearch .search {
  border-radius: 0 20px 20px 0 !important;
  padding: 10px;
  background: #ebebeb;
}

.memberlist {
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  padding: 15px;
  margin: 30px 0;
}

.memberlist table {
  font-size: 14px;
  font-weight: normal;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #cbdbe4 !important;
}

.table-responsive {
  padding-bottom: 10px;
}

.table-bordered td {
  border: 1px solid #75bde9 !important;
}

.table-bordered > thead > tr > th {
  border: 1px solid #75bde9 !important;
}

.pagination {
  margin: 0 !important;
  font-size: 12px;
}

.clickable {
  cursor: auto;
}


/*----------step-wizard------------*/
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/*---------signup-step-------------*/
.bg-color {
  background-color: #333;
}

.signup-step-container {
  padding: 40px 0;
  padding-bottom: 60px;
}


.wizard .nav-tabs {
  position: relative;
  margin-bottom: 0;
  border-bottom-color: transparent;
}

.wizard > div.wizard-inner {
  position: relative;
}

.connecting-line {
  height: 2px;
  background: #e0e0e0;
  position: absolute;
  width: 70%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1;
}

.wizard {

  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
  padding: 35px 25px;
  margin: 0 0;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
  color: #555555;
  cursor: default;
  border: 0;
  border-bottom-color: transparent;
}

span.round-tab {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  border-radius: 50%;
  background: #fff;
  z-index: 2;
  position: absolute;
  left: 0;
  text-align: center;
  font-size: 16px;
  color: #0e214b;
  font-weight: 500;
  border: 1px solid #ddd;
}

span.round-tab i {
  color: #555555;
}

.wizard li.active span.round-tab {
  background: #4299ce;
  color: #fff;
  border-color: #4299ce;
}

.wizard li.active span.round-tab i {
  color: #5bc0de;
}

.wizard .nav-tabs > li.active > a i {
  color: #4299ce;
}

.wizard .nav-tabs > li {
  width: 33.333%;
}

.wizard li:after {
  content: " ";
  position: absolute;
  left: 46%;
  opacity: 0;
  margin: 0 auto;
  bottom: 0;
  border: 5px solid transparent;
  border-bottom-color: red;
  transition: 0.1s ease-in-out;
}


.wizard .nav-tabs > li a {
  width: 30px;
  height: 30px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
  background-color: transparent;
  position: relative;
  top: 0;
}

.wizard .nav-tabs > li a i {
  position: absolute;
  top: -15px;
  font-style: normal;
  white-space: nowrap;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: 700;
  color: #000;
}

.wizard .nav-tabs > li a:hover {
  background: transparent;
}

.wizard .tab-pane {
  position: relative;
  padding-top: 0px;
}


.wizard h4 {
  margin-top: 20;
  margin-bottom: 30px;
  color: #4299ce;
}

.wizard label {
  font-size: 13px !important;
  font-weight: normal !important;
}

.prev-step,
.next-step {
  font-size: 13px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
}

.next-step {
  background-color: #4299ce;
  color: #fff;
}

.skip-btn {
  background-color: #cec12d;
}

.step-head {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.term-check {
  font-size: 14px;
  font-weight: 400;
}

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-bottom: 0;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 40px;
  margin: 0;
  opacity: 0;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 40px;
  padding: .375rem .75rem;
  font-weight: 400;
  line-height: 2;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

.custom-file-label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 38px;
  padding: .375rem .75rem;
  line-height: 2;
  color: #495057;
  content: "Browse";
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 .25rem .25rem 0;
}

.footer-link {
  margin-top: 30px;
}

.all-info-container {

}

.list-content {
  margin-bottom: 10px;
}

.list-content a {
  padding: 10px 15px;
  width: 100%;
  display: inline-block;
  background-color: #f5f5f5;
  position: relative;
  color: #565656;
  font-weight: 400;
  border-radius: 4px;
}

.list-content a[aria-expanded="true"] i {
  transform: rotate(180deg);
}

.list-content a i {
  text-align: right;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: 0.5s;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #fdfdfd;
}

.list-box {
  padding: 10px;
}

.signup-logo-header .logo_area {
  width: 200px;
}

.signup-logo-header .nav > li {
  padding: 0;
}

.signup-logo-header .header-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------custom-checkbox-----------*/
/*----------Custom-Checkbox---------*/
input[type="checkbox"] {
  position: relative;
  display: inline-block;
  margin-right: 5px;
}

input[type="checkbox"]::before,
input[type="checkbox"]::after {
  position: absolute;
  content: "";
  display: inline-block;
}

input[type="checkbox"]::before {
  height: 16px;
  width: 16px;
  border: 1px solid #999;
  left: 0px;
  top: 0px;
  background-color: #fff;
  border-radius: 2px;
}

input[type="checkbox"]::after {
  height: 5px;
  width: 9px;
  left: 4px;
  top: 4px;
}

input[type="checkbox"]:checked::after {
  content: "";
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
}

input[type="checkbox"]:checked::before {
  background-color: #18ba60;
  border-color: #18ba60;
}


@media (max-width: 767px) {
  .sign-content h3 {
    font-size: 40px;
  }

  .wizard .nav-tabs > li a i {
    display: none;
  }

  .signup-logo-header .navbar-toggle {
    margin: 0;
    margin-top: 8px;
  }

  .signup-logo-header .logo_area {
    margin-top: 0;
  }

  .signup-logo-header .header-flex {
    display: block;
  }
}

@media screen and (max-width: 768px) {


  .memberlist table td {
    display: block;
  }

  .mview {
    display: inline-block !important;
  }

  .table-bordered td {
    border-top: 0px solid #75bde9 !important;
    border-bottom: 0px solid #75bde9 !important;
    border-right: 0px solid #75bde9 !important;
  }

  .table-bordered {
    border-right: 1px solid #75bde9 !important;
    border-bottom: 1px solid #75bde9 !important;
  }

  .mview2 {
    display: revert !important;
    padding-top: 40px !important;
    border-left: 1px solid #000 !important
  }
}


.mat-input-element{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.mat-horizontal-content-container {
   padding: 0 0 0 0 !important;
}
.ng-invalid {
  border-color: #f44336;
}
