<div class="footermain">
  <div class="col-md-1 col-xs-12"><img src="assets/images/logo_footer.png"  alt="Kaoc"/></div>
  <div class="col-md-5 col-xs-12">
    <p class="footertxt">
      <i class="fa fa-map-marker"></i>PO BOX 3411, Parker, CO 80134<span>|</span>
      <a href="mailto:president@colorkerala.org"><i class="fa fa-envelope"></i>president@colorkerala.org</a>
    </p>
  </div>
  <div class="col-md-6 col-xs-12">
    <p class="footertxt footertxt2 txtright">

      <a routerLink="">Home</a>
      <a routerLink="/kaochistory">About Us </a>
      <a href="#">Events</a>
      <a href="#">Sponsors</a>
      <a href="#">Magazine</a>
      <a href="#"> Contact Us</a>

    </p>
  </div>
</div>
<div class="footer2"> © Kerala Association of Colorado•  2021

  <div class="socialmedia">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
  </div>
  <img id="toTop" src="assets/images/top.png" onclick="abcd()" title="Go To Top">
</div>
<!--<div fxLayout="row" fxLayoutAlign="center center">-->
<!--    <div class="copy-right">-->
<!--        <mat-icon class="copy-right-icon">copyright</mat-icon>-->
<!--        Kerala Association of Colorado  •  2020-->
<!--    </div>-->
<!--  <img id="toTop" src="/assets/images/top.png" onclick="abcd()" title="Go To Top">-->
<!--</div>-->
