<div class="page-title">
  <div>
    <h2>KAOC By-laws</h2>
    <p>KAOC is a registered non-profile organization</p>
  </div>
</div>
<div class="card">
  <mat-card style="padding:30px;">
  <h1>CORPORATION BY-LAWS</h1>
    <br/>
    <h2>ARTICLE I</h2>
    <h3>NAME</h3>

    <p>The name of the organization shall be "KERALA ASSOCIATION OF COLORADO" (KAOC) hereinafter referred to as KAOC or
        the
        Association.</p>
    <hr />

    <h2>ARTICLE II</h2>
    <h3>LOCATION AND ADDRESS</h3>
    <p>The location of the organization will be decided from time to time by the Executive Committee until a permanent
        place
        for office is established. Based on the agreement by the executive committee of the Association at the time of
        the
        writing of these by-laws of the Association, it has been decided that it will be the address of the residence of
        the
        current President of the Association.</p>
    <hr />

    <h2>ARTICLE III</h2>
    <h3>AIMS AND OBJECTIVES</h3>
    <p>The Association shall be conducted as a non-profit, secular and cultural organization and shall:</p>
    <ol>
        <li>Maintain and promote the cultural and educational heritage of India in general, Kerala in particular.</li>
        <li>Serve as a forum of friendship and exchange of ideas and information for the Malayalees in Colorado.</li>
        <li>Sponsor meetings and artistic events with distinguished visitors from India, and Kerala in particular.</li>
        <li>Celebrate festivals that are dear to the Keralites.</li>
    </ol>

    <hr />

    <h2>ARTICLE IV</h2>
    <h3>DEFINITION OF TERMS HEREINAFTER USED</h3>
    <ol>
        <li>Fiscal year for the Association shall be from January 1st to December 31st.</li>
        <li>Family will include an individual and his/her spouse, and only their dependent children and dependent
            parents living in the same household.</li>
        <li>Committee means the executive committee.</li>
        <li>General Body means all the members above the age of 18 who have paid membership dues and granted voting
            rights by the Association.</li>
        <li>Association is the Kerala Association of Colorado also referred to as KAOC.</li>
    </ol>
    <hr />

    <h2>ARTICLE V</h2>
    <h3>MEMBERSHIP</h3>
    <ol>
        <li>The membership in the Association will be open to everyone interested in promoting the aims and
            the objectives of KAOC as defined in Article III above and evidenced by payment of membership fees
            and to those members who abide by the internal regulations of the association.
        </li>
        <li>
            In the event of an election being announced to elect office bearers to the Executive Committee, no
            new memberships will be accepted from the date of such announcement to the end of that fiscal year.
        </li>
        <li>Membership Period: The membership is valid from the date of payment of membership fees to the end of
            the running fiscal year.</li>
        <li>Family Membership: Applicable for a family limited to the adult member of the household, his or her
            spouse and dependent children and parents. The voting rights will be limited to two adult members.</li>
        <li>Individual Membership: Applicable for single individual above the age of eighteen.
            The individual member will be entitled to one vote.</li>
        <li>Membership Fees: The executive committee may review/revise the fee structure as needed only at the
            beginning of the fiscal year. For the current year’s membership prices, please check the membership
            section on the website.</li>
    </ol>
    <hr />
    <h2>ARTICLE VI</h2>
    <h3>MEMBER'S RIGHT</h3>
    <p>The members shall have the following rights:</p>
    <ol>
        <li>Attend general body meeting, discuss and vote on items included in the agenda.
        </li>
        <li>Benefit from the facilities provided by the association for its members.
        </li>
        <li>Obtain the associations communications.</li>
        <li>Have access to view the records, documents and correspondence of the association at the times
            determined by the executive committee in the presence person(s) responsible.</li>

    </ol>
    <hr />

    <h2>ARTICLE VII</h2>
    <h3>ELECTION</h3>
    <ol>
        <li>The current Executive Committee will solicit for nominations from the General Body for the office of
            President,
            Vice President, Treasurer, Secretary and Joint Secretary.</li>
        <li>In case of multiple nominations being received, election shall be by secret ballot, through online voting.
        </li>
        <li>The Committee shall determine the date of election and communicate the information to all
            members of the association.</li>
        <li>A candidate running for office shall be an active member who has paid all membership dues of the
            association for two consecutive years.</li>
        <li>The President nominated or elected will be invited to form the executive committee.</li>
    </ol>
    <hr />


    <h2>ARTICLE VIII</h2>
    <h3>EXECUTIVE COMMITTEE</h3>
    <ol>
        <li>The Executive Committee shall consist of the President, Vice President, Secretary, Joint Secretary,
            Treasurer,
            and up to twelve Executive Committee members.</li>
        <li>The President of the Committtee has be elected by the General Body in accordance with the election procedure
            mandated in Section VII of the Bylaws.</li>
        <li>All Officers of the Association shall serve without salary or remuneration.</li>
        <li>The Committee will assume office for a period of one fiscal year. At the end of the fiscal year,
            all the committee members will cease to have the powers granted by virtue the office they
            held in the committee including, but not limited to executive and financial decision making
            powers and access to bank accounts in the name of the association.</li>
        <li>No Officer shall hold an office in the committee consecutively for more than two terms.</li>
        <li>The Committee shall be comprised of the officers, and shall be presided over by the President.</li>
        <li>The quorum of the Committee shall be 5.</li>
        <li>Proxy Vote: In exceptional situations, an absent executive member's phone call
            to two members who are in attendance will be considered as a proxy vote to fulfill
            the quorum.</li>
        <li>The Committee shall be directly responsible to the General Body of the Association.</li>
        <li>The Secretary, in consultation with the President, shall convene the Committee meeting when necessary.</li>
        <li>The Committee has collective responsibility and conducts its business by implementing decisions taken
            through collective discussion. The discussions can be in-person, telephonic, online, or through e-mail.</li>
        <li>The Secretary shall keep minutes for all decisions taken and publish them to all Committee Members after
            the minutes are approved by the Executive Committee. The Executive Committee can withhold information that
            it considers to be sensitive from reaching the non-members of the association.</li>
        <li>The Committee members shall spend Association's funds only after prior approval of the Executive Committee
            except
            in extraordinary circumstances. The Executive Committee members may spend up to $100 on behalf of the
            Association in the event of an unforeseen circumstance that prevented obtaining
            prior approval from the Executive Committee. All expenses not approved by the Executive Committee
            can only be reimbursed after obtaining authorization from the President, Secretary, and Treasurer.
            In addition, the total spending without prior Committee approval on any event shall not exceed $100.</li>
        <li>The Committtee will keep a record of all login details for online accounts registered under the name of KAOC
            and hand it over at the end of their term to the succeeding committee.</li>
        <li>ADVISORY COMMITTEE: The Executive committee can form an advisory committee at their discretion and request
            for distinguished members of KAOC to become members of the Advisory Committee. The Advisory Committee
            members
            will hold office for the period co-terminus with that of the Executive Committtee that appointed them.</li>
    </ol>
    <hr />

    <h2>ARTICLE XI</h2>
    <h3>DUTIES OF OFFICERS</h3>
    <ol>
        <li><b>President:</b> The President shall preside over the General Body and the Executive Committee. </li>
        <ol type="I">
            <li>The President may cast his or her vote only in case of a tie in either meeting.</li>
            <li>The President shall enter into contracts on behalf of the Association only with the
                approval of the Executive Committee.
            </li>
            <li>
                In the event of any office becomes vacant, the President shall appoint a member to
                fill the vacancy, subject to the approval of the Executive Committee.
            </li>
        </ol>

        <li><b>Vice President:</b> In the absence of the President, the Vice President shall assume the responsibilities
            of the President in presiding over the meeting of the General Assembly and the Executive Committee.
            In the absence of the President and Vice President, the General Assembly or the Executive Committee,
            may elect a temporary President for that meeting.
        </li>
        <li><b>Secretary:</b> The Secretary shall be responsible to convene the meetings of the General Body and the
            Executive Committee in consultation with the President.
            <ol type="I">
                <li>The Secretary shall record and keep the minutes of the General Assembly
                    and Executive Committee meetings.</li>
                <li>The Secretary shall be the spokesperson of the Association and shall assume ownership of
                    all communication on behalf of the Association.
                </li>
                <li>The Secretary shall file for the periodic report to the office of Colorado Secretary of State
                    before May 31st of the current fiscal year.
                </li>
                <li>The Secretary shall arrange for the handover all records and accounts including the
                    accounts for Association's website, and other social media channels when the new Executive
                    Committee assumes office.
                </li>
                <li>The Secretary shall update contact address and by-law amendments on behalf of the Association.
                </li>
            </ol>
        </li>
        <li><b>Joint Secretary:</b> In the absence of the Secretary, the Joint Secretary shall assume the
            responsibilities of the Secretary. In the absence of the Secretary and Joint Secretary,
            the General Assembly or the Executive Committee may elect a temporary Secretary for that meeting.
        </li>

        <li><b>Treasurer: </b> The Treasurer shall be responsible for all monetary concerns of the Association
            and shall keep a fair and accurate account of the income and expenditures.
            <ol type="I">
                <li>The Treasurer shall deposit in the bank, in the name of the Association, any and all amounts.</li>
                <li>The Treasurer shall keep a register of the members and friends of the Association.</li>
                <li>The Treasurer shall prepare a budget and present it to the Executive Committee.</li>
                <li>If the expenses of the Association exceed Five Hundred Thousand dollars ($500,000), a CPA must
                    be appointed to audit the accounts.</li>
                <li>The Treasurer shall present an itemized statement of account of all income and expenditures
                    on behalf of the Association to the Executive Committee at the beginning of each quarter.</li>
                <li>The President, and the Treasurer shall have the authority to sign checks and shall have
                    access to tools used for bookkeeping. The President may only exercise this authority
                    with the prior knowledge of the Treasurer.</li>
                <li>The Treasurer shall handover all records including Association's bank account details,
                    check book, and other electronic accounts information when the new Executive Committee
                    assumes office.</li>
                <li>Accounts of expenses incurred during the fiscal year of the current Executive Committee
                    has to be presented to the general body and made available as a document accessible
                    to all members, prior to the next Executive Committee assuming office.
                    At the end of each year, any balance in the checking account in excess of $750.00
                    shall be transferred to the interest-bearing savings account.</li>
                <li>Treasurer shall comply with the government and/or governmental agency regulations
                    with respect to 501(c)(4) organizations. The Treasurer will be responsible for
                    filing Form 990-N for the fiscal year he holds office which is due every year
                    by the 15th day of the 5th month after the close of the current fiscal year.
                    The Treasurer shall hand over the login details for the IRS e-filing to the
                    successor of his office.</li>
                <li>In the event of the Treasurer unable to carry out the functions due to a just
                    cause for an extended period, as determined by the Executive Committee, the
                    Executive Committee shall appoint an Executive Committee member as the
                    temporary Treasurer for that period.</li>
            </ol>
        </li>
        <li>
            <b>Executive Committee members: </b>The Executive Committee members individually or collectively carry
            out the functions of the association by executing decisions taken by the Executive Committee.
            Each Executive Committee member has one vote. Decisions are taken using a simple majority vote
            of the Executive Committee.
        </li>
        <li>
            Any member of the Executive Committee may resign at any time by submitting his/her resignation to the
            President in writing.
        </li>
        <li>Any or all members of the Executive Committee may be removed at any time with justifiable cause by
            a majority vote of the general body. The cause could include but, is not limited to the following:
            <ol type="I">
                <li>Abstains from four (4) meetings continuously without sufficient cause</li>
                <li>Perceived to have a conflict of interest</li>
                <li>Found misusing his/her authority, or association’s funds</li>
                <li>Consistently working against the interests and objectives of the association</li>
            </ol>
        </li>
        <li>Should any member of the Committee fail to attend four consecutive committee meetings, the Secretary shall
            issue a show cause notice to the member. The member's reply shall be discussed in the Committee, and if the
            Committee determines that the absence is not caused by sickness or by any other just cause, his or her
            office shall be declared vacant by the President, subject to the approval of the Committee..
        </li>
        <li>Any Committee Member who fails to adhere to the by-laws of KAOC if removed from the Committee subject to
            disciplinary action will be barred from becoming a Member of all future Committees.
        </li>
    </ol>
    <hr />

    <h2>ARTICLE X</h2>
    <h3>AMENDMENTS</h3>
    <ol>
        <li>Any amendments to the Corporation By-laws can be introduced by any member of the Advisory Committee or
            Executive Committee, or initiated by at least ten percent of the current membership conveyed to the
            President, in writing, at least fifteen days before the meeting of the General Body. All amendments, must
            have the approval of two thirds of the members present and voting in the General Body meeting</li>
        <li>All amendments made after the incorporation of the bylaws shall be published in the association's website
            and emailed to all the members.</li>
    </ol>
    <hr />

    <h2>ARTICLE XI</h2>
    <h3>EFFECTIVE DATES FOR BYLAW INCORPORATION & AMENDMENTS</h3>
    <ol>
        <li>Saturday, May 27th, 2017 - Bylaws finalized.</li>
    </ol>
    <hr />

    <h2>ARTICLE XII</h2>
    <h3>AMENDMENTS</h3>
    <h4>FINANCIAL</h4>
    <p>At the end of each Fiscal year, the current Committee would transfer the funds of up to $5,000 to the succeeding
        team. In the event of an excess of $5,000 closing balance for the fiscal year, the excess amount or 20% of the
        balance, whichever is higher, will be transferred to the Association’s Reserve Fund savings account (separate
        from the existing checking account). In the event of closing balance being less than $5,000, the year’s
        Committee will transfer funds amounting to 20% of the total closing balance to the Reserve Fund Saving Account.
        The remaining funds will be left in the Association’s checking account as a working capital for the succeeding
        committee. This money shall be set aside for long-term investments such as the construction of community
        building. The money in the Reserve Fund savings account shall be withdrawn only on obtaining written consent via
        email from 2/3 or more of the respective years’ paid members. The consents obtained should be available for
        review by any member of KAOC. The signatories of said savings account will be the responsibility of respective
        year’s President and Treasurer the approval of a member team, who will be hence referred to as the Board. The
        responsibility of operating this saving account with full transparency will fall on them. It is also the
        responsibility of the Board to make sure that each year the balance is transferred to the Reserve fund as per
        the guidelines mentioned above.</p>
    <p>The said board will have</p>

    <ol>
        <li>Nine members who will serve a 5-year term. At the end of which, members can continue
            in the board for one additional term.</li>
        <li> The Board will be an independent entity and will not have any role in the yearly activities of KAOC.</li>
        <li>Members would have held major executive roles (President, Vice-President, Secretary or Treasurer) in KAOC.
        </li>
        <li>Members should have been a paid member 2 years prior to induction into the Board.</li>
        <li>New members can be nominated only by existing Board members.</li>
        <li>Board members have to be residents of Colorado during the term.</li>
        <li>Should a Board member be appointed to the Executive Committee of KAOC., he/she will have to resign from the
            Board.</li>
    </ol>
    <h4  >SOCIAL MEDIA</h4>
    <p>Only paid members will have access to KAOC’s FACEBOOK social network group. Only the President, Secretary and Web
        Administrator will have authority to permit changes, or accept requests to be published on the social media
        page. KAOC Facebook page and IDF page will be accessible to the general public.</p>
    <hr />

    <h2>ARTICLE XIII</h2>
    <h3>EFFECTIVE DATES FOR AMENDMENTS</h3>
    <p>Monday, December 31, 2018. Bylaws amended.</p>
    <br/><br/>
  </mat-card>
</div>
